<nz-card nzTitle="用户管理" [nzExtra]="extraTemplate">
  <div nz-row [nzGutter]="16" style="margin-bottom: 10px">
    <div nz-col [nzSpan]="6">
      <form nz-form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name"
            >用户名</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="The input is not valid E-mail!"
          >
            <input nz-input formControlName="name" id="name" />
          </nz-form-control>
          <button nz-button [nzType]="'primary'" style="margin-left: 15px">
            <span>搜索</span>
          </button>
        </nz-form-item>
      </form>
    </div>
    <div nz-col [nzSpan]="6">
      <button nz-button [nzType]="'primary'" (click)="showModal()">
        <span>添加用户</span>
      </button>
      <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="添加用户"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
        [nzOkDisabled]="!createUserForm.valid"
      >
        <form nz-form [formGroup]="createUserForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role" nzRequired
              >role</nz-form-label
            >
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzErrorTip="Please input your role!"
            >
              <nz-select formControlName="role" class="phone-select">
                <nz-option
                  nzLabel="super_admin"
                  nzValue="super_admin"
                ></nz-option>
                <nz-option nzLabel="admin" nzValue="admin"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
              >E-mail</nz-form-label
            >
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzErrorTip="The input is not valid E-mail!"
            >
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="userName"
              >UserName</nz-form-label
            >
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzErrorTip="The input is not valid E-mail!"
            >
              <input nz-input formControlName="userName" id="userName" />
            </nz-form-control>
          </nz-form-item>

          <!-- <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
              >Password</nz-form-label
            >
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzErrorTip="Please input your password!"
            >
              <input
                nz-input
                type="password"
                id="password"
                formControlName="passWord"
              />
            </nz-form-control>
          </nz-form-item> -->

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired
              >Password</nz-form-label
            >
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzHasFeedback
              nzErrorTip="Please input your password!"
            >
              <input
                nz-input
                type="password"
                formControlName="passWord"
                (ngModelChange)="validateConfirmPassword()"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired
              >Confirm</nz-form-label
            >
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzHasFeedback
              [nzErrorTip]="passwordErrorTpl"
            >
              <input
                nz-input
                type="password"
                formControlName="confirm"
                placeholder="confirm your password"
              />
              <ng-template #passwordErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Password is inconsistent!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-modal>
    </div>
  </div>
  <nz-table #basicTable [nzData]="listOfData" nzShowPagination="false">
    <thead>
      <tr>
        <th>用户名</th>
        <th>角色</th>
        <th>邮箱</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.userName }}</td>
        <td>{{ data.role }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.creater }}</td>
        <td>{{ data.createTime }}</td>
        <td>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
