<nz-table #basicTable [nzData]="listOfData" nzShowPagination="true" [nzLoading]="isTableLoading">
  <thead>
    <tr>
      <th>文章名</th>
      <th>文章类型</th>
      <th>创建人</th>
      <th>创建时间</th>
      <th>更新时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.secondaryMenu[0]?data.secondaryMenu[0].articleType:'-' }}</td>
      <td>{{ data.mainMenu[0]?data.mainMenu[0].articleType:'关于' }}</td>
      <td>{{ data.creater }}</td>
      <td>{{ data.createTime }}</td>
      <td>{{ data.updateTime }}</td>
      <td>
        <button style="margin-right: 5px" nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?"
          (nzOnConfirm)="removeArticle(data._id)" (nzOnCancel)="cancel()" nzPopconfirmPlacement="top" nz-button
          nzType="primary">
          删除
        </button>
        <button nz-button nzType="primary" (click)="updataAticles(data._id)">
          更新
        </button>
        <button style="margin-left: 5px" nz-button nzType="primary" (click)="previewContents(data)">
          预览文章
        </button>
      </td>
    </tr>
  </tbody>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="预览文章" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()"
    [nzCancelText]="null" [nzWidth]='1000'>
    <div class="brief">{{briefContent}}</div>
    <div style="height: 600px; overflow: auto; background: #eeeeee">
      <p [innerHtml]="articlesContents | safeHtml"></p>
    </div>
  </nz-modal>
</nz-table>